body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul.languages {
  display: flex;
  justify-content: center;
}

ul.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

ul.languages li.active {
  color: #d0021b;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 1.5rem;
  text-align: center;
}

.popular-rank {
  margin-bottom: 0.5rem;
  color: #d35400;
  font-weight: bold;
  font-size: 1.2rem;
}

.popular-avatar {
  height: 10rem;
  border-radius: 50%;
  border: 5px solid #e67e22;
}

a.popular-link {
  display: block;
  margin: 0.5rem 0;
  color: #16a085;
  width: 10rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.popular-owner {
  margin: 0.5rem 0;
}
